<% license_service = Hyrax::LicenseService.new %>

<%= f.label :license, class: 'control-label select required' do %>
  License
  <span class="label label-info required-tag">required</span>
<% end %>

        <%= f.input :license, as: :select,
          collection: license_service.select_active_options,
          include_blank: 'Use License Wizard or choose directly from the dropdown.',
          item_helper: license_service.method(:include_current_value),
          input_html: { class: 'rights-selector form-control' },
          label: false,
          required: true
        %>
