<div class="ext-links text-center hidden-xs">
  <a href="http://libapps.libraries.uc.edu/scholarblog/"><%= t('hyrax.homepage.links.scholar_blog') %></a> |
  <a href="http://libraries.uc.edu/digital-scholarship/data-services"><%= t('hyrax.homepage.links.manage_your_data') %></a> |
  <a href="http://www.libraries.uc.edu/digital-scholarship.html"><%= t('hyrax.homepage.links.digital_scholarship') %></a>
</div>
