<div class="scholar-home-tag text-center">
  <div class="scholar-home-tag-line">
    <span class="line-thru"><%= t('hyrax.homepage.what_is') %> <b>scholar<span style="color: #e00122">@</span>uc?</b></span>
  </div>
  <div class="scholar-home-tag-desc row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= t('hyrax.homepage.headline') %>
      <p>
        <%= link_to about_path do %>
          <i><%= t('hyrax.homepage.learn_more') %></i>
        <% end %>
      </p>
    </div>
  </div>
</div>
