/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require_self
 */
 .blue-footer {
   padding: 10px;
   position: absolute;
   bottom: 0;
   width: 100%;
   background-color: #3c3c3c;
   border-color: #090909;
   color: #fff;
   font-size:12px;
 }

 a.footer-link {
     color: white;
 }

 .version {
     padding-left: 20px;
 }

 #copyright {
     color: #ffffff;
     /* line-height: 150%;
     margin-top: 3.5%; */
 }

 div[class*="_admin_set_id"] {
  display: none;
 }

 .break-all  {
    display: inline-block;
    word-break: break-all;
 }

 .auto-width-overide  {
    width: auto !important;
 }

 .sidebar-fix   {
     background: none !important;
     color: #ffffff !important;
     line-height: 50px !important;
     right: 10px !important;
 }

.featured-work-fix {
  display: inline-block;
}

mark {
  background-color: #ffff00
}
