/* ...
 *= require jquery-ui
 *= require select2
 *= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap-default-overrides";
@import 'bootstrap';
@import 'blacklight/blacklight';
@import "font-awesome";
@import "blacklight_gallery/gallery";
@import "blacklight_gallery/masonry";
@import "blacklight_gallery/slideshow";
@import "blacklight_gallery/osd_viewer";
@import 'hyrax/hyrax';
@import 'license-selector';

.navbar-brand {
  font-size: 30px;
  padding: 0 15px;
  height: 70px;
  line-height: 70px;
}

#top-navbar-toggle {
  margin-top: 20px;
}

.nav-hyrax-controls {
  padding-top: 10px;
  padding-bottom: 10px;
}

.g-recaptcha {
  margin-bottom: 20px;
}


div.profile a.btn-primary {
  margin-bottom: 20px;
}

.orcid-section {
  padding-top: 20px;
}

.icon-doi {
  @extend .fa-link;
}

.fix-radio-btns {
  margin-left: 20px;
}
