/* ...
 *= require jquery-ui
 *= require select2
 *= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap-default-overrides";
@import 'bootstrap';
@import 'blacklight/blacklight';
@import "font-awesome";
@import "blacklight_gallery/gallery";
@import "blacklight_gallery/masonry";
@import "blacklight_gallery/slideshow";
@import "blacklight_gallery/osd_viewer";
@import 'hyrax/hyrax';
@import 'license-selector';

.navbar-brand {
  font-size: 30px;
  padding: 0 15px;
  height: 70px;
  line-height: 70px;
}

#top-navbar-toggle {
  margin-top: 20px;
}

.nav-hyrax-controls {
  padding-top: 10px;
  padding-bottom: 10px;
}

.g-recaptcha {
  margin-bottom: 20px;
}


div.profile a.btn-primary {
  margin-bottom: 20px;
}

.orcid-section {
  padding-top: 20px;
}

.featured-thumb img {
    width: 270px;
    height: 270px;
    object-fit: cover;
}

.featured-item {
  border-top: 0;
  .main {
    padding: 0 !important;
  }
}
