<% remote_service = Hydra::RemoteIdentifier.remote_service(:doi) %>
    <% if curation_concern.identifier_url.present? %>
      <div class="form-group doi">
        <h2>Digital Object Identifier (DOI)</h2>

        <p>
          This work has a <abbr title="Digital Object Identifier">DOI</abbr>.
        </p>

        <p>
          Identifier: <strong><%= curation_concern.doi %></strong><br>
          Link: <strong><%= link_to remote_service.remote_uri_for(curation_concern.doi).to_s, remote_service.remote_uri_for(curation_concern.doi).to_s %></strong>
        </p>

        <p>
          This <abbr title="Digital Object Identifier" data-placement="right">DOI</abbr> link is the best way for others to cite your work.
        </p>
      </div>

    <% else %>

      <div class="form-group set-doi">
        <h2>Assign a Digital Object Identifier (DOI)</h2>

        <p>
          A <abbr title="Digital Object Identifier" data-placement="right">DOI</abbr> is a permanent link to your work.
          It&rsquo;s an easy way for other people to cite your work.
        </p>

        <p>
          Want more information on <abbr title="Digital Object Identifier">DOI</abbr>s?
          Here&rsquo;s a <a href="http://simple.wikipedia.org/wiki/Doi" target="_blank">brief summary</a> and the <a href="http://www.doi.org/faq.html" target="_blank">DOI FAQ</a>.
        </p>
        
        <p class="alert alert-warning">
          Need further assistance with entering an existing DOI? Please see 
          <%= link_to('this page', main_app.doi_help_path, target: '_blank') %> for more detailed instructions on properly entering your DOI into Scholar@UC.
        </p>

        <p class="alert alert-danger">
          DOI creation has been temporarily disabled while we migrate to a new provider.  This feature will be available again after May 29.<br><br>

          You may still save your work now and come back later to create the DOI.  If you have any questions, please <%= link_to 'contact us', contact_path %>.
        </p>
      </div>
    <% end %>
