<%= render 'form_in_works', f: f %>
<%= render 'form_member_of_collections', f: f %>

<% if f.object.persisted? %>
  <h2><%= t("hyrax.works.form.in_this_work") %></h2>
  <%= render 'form_child_work_relationships', f: f %>
<% end %>
